<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3>Create My Profile</h3>
      </div>
  
      <div class="card-body">
        <%= form_for @user, url: { action: 'create' }, method: :post do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="submit-field">
            <%= form.submit "Save", class: "btn btn-default btn-primary float-right" %>
          </div>
        <% end %>
      </div>
    </div>
    <p class="text-center home-link"><%= link_to "Go to profile", root_path %></p>
  </div>
</div>
